<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>
	<title>Cadastro de item no estoque</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de item no estoque
			</h1>
		</div>
	</div>

	<div class="container-fluid">
		<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}" >
			<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
			<span th:text="${message}"></span>
		</div>
	
		<form method="POST" th:object="${stock}" class="form-vertical  js-form-loading" th:action="@{/stock/new}">
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="erro : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i> 
						<span th:text="${erro.message}"></span>
					</div>
				</th:block>
			</div>
			
			<input type="hidden" th:field="*{codStock}"/>
			
			<div class="row">
				<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('name')} ? has-error">
					<label for="name" class="control-label">Nome</label>
					<input id="name" type="text" class="form-control" th:field="*{name}" autofocus="autofocus" />
				</div>
			
				<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('quantity')} ? has-error">
					<label for="quantity" class="control-label">Quantidade</label>
					<input id="quantity" type="number" class="form-control" th:field="*{quantity}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('description')} ? has-error">
					<label for="description" class="control-label">Descrição</label>
					<input id="description" type="text" class="form-control" th:field="*{description}" />
				</div>
				
				<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('StockType')} ? has-error">
					<label for="allStockType" class="control-label">Marca</label>
					<select id="allStockType" class="form-control" th:field="*{StockType}">
						<option value="">Selecione a marca</option>
						<option th:each="StockType : ${allStockType}" th:value="${StockType.codStockType}" th:text="${StockType.brand}"></option>
					</select>
				</div>
				
			</div>
					
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<button class="btn  btn-secondary" onclick="window.history.go(-1); return false;">Cancelar</button>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>