<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Roadie Studio</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/roadiestudio.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/application.css}" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<div class="aw-layout-page">

		<nav
			class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
			id="main-navbar">
			<div class="container-fluid">

				<div class="navbar-header">
					<a class="navbar-brand  hidden-xs" href="#"> ROADIE STUDIO </a>

					<ul class="nav  navbar-nav">
						<li><a href="#" class="js-sidebar-toggle"><i
								class="fa  fa-bars"></i></a></li>
					</ul>
				</div>

				<ul class="nav navbar-nav  navbar-right">
			
					<li>
						<p class="navbar-text" th:text="${#authentication.name}"></p>
					</li>

					<li><a th:href="@{/logout}"><em class="fa  fa-sign-out"></em></a>
					</li>
				</ul>

			</div>
		</nav>

		<aside class="aw-layout-sidebar  js-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">
						<li class="aw-menu__item" sec:authorize-url="/home">
							<a th:href="@{/home}">
								<i class="fa  fa-fw fa fa-home"></i> 
								<span>Home</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/schedule">
							<a th:href="@{/schedule}">
								<i class="fa  fa-fw  fa-calendar"></i> 
								<span>Agenda</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/rent">
							<a th:href="@{/rental}"> 
								<i class="fa  fa-fw  fa-hourglass"></i> 
								<span>Locações</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/recording">
							<a th:href="@{/recording}">
								<i class="fa  fa-fw  fa-microphone"></i> 
								<span>Gravações</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/user">
							<a th:href="@{/user}"> 
								<i class="fa  fa-fw  fa-users"></i> 
								<span>Usuários</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/band">
						<a th:href="@{/band}"> 
							<i class="fa  fa-fw  fa-music"></i> 
							<span>Bandas</span>
						</a> 
							<a th:href="@{/bandGenre}"> 
							<i class="fa  fa-fw  fa-music"></i>
								<span>Gêneros de Banda</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/stock">
							<a th:href="@{/stock}"> 
							<i class="fa  fa-fw  fa-shopping-cart"></i>
								<span>Estoque</span>
							</a>
						</li>
						
						<li class="aw-menu__item" sec:authorize-url="/room">
							<a th:href="@{/room}"> 
								<i class="fa  fa-fw  fa-smile-o"></i>
								<span>Salas</span>
							</a>
						</li>
						<li class="aw-menu__item" sec:authorize-url="/report">
							<a th:href="@{/report}">
								<i class="fa  fa-fw  fa-bar-chart"></i> 
								<span>Relatórios</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</aside>

		<section class="aw-layout-content  js-content"
			layout:fragment="conteudo"></section>

		<footer class="aw-layout-footer  js-content">
			<div class="container-fluid">
				<span class="aw-footer-disclaimer">&copy; 2016 RoadieStudio.
					Todos os direitos reservados.					
				</span>
				
			</div>
		</footer>
	</div>
	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/roadiestudio.min.js}"></script>

</body>
</html>