<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>
	<title>Cadastro de usuário</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de usuário
			</h1>
		</div>
	</div>

	<div class="container-fluid">
	
		<div class="alert  alert-danger  alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<i class="fa  fa-exclamation-circle"></i> Já existe um usuário com o nome informado.
		</div>
	
		<form method="POST" th:object="${user}" class="form-vertical  js-form-loading" th:action="@{/user/new}">
			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="erro : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i> 
						<span th:text="${erro.message}">Já existe um usuário com o nome informado.</span>
					</div>
				</th:block>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? has-error">
				<label for="userName" class="control-label">Username</label>
				<input id="userName" type="text" class="form-control" th:field="*{userName}"/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? has-error">
				<label for="email" class="control-label">E-mail</label>
				<input id="email" type="text" class="form-control" th:field="*{email}"/>
			</div>
	
			<div class="row">
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('firstName')} ? has-error">
					<label for="firstName" class="control-label">Nome</label>
					<input id="firstName" type="text" class="form-control" th:field="*{firstName}"/>
				</div>
				
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('lastName')} ? has-error">
					<label for="lastName" class="control-label">Sobrenome</label>
					<input id="lastName" type="text" class="form-control" th:field="*{lastName}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('password')} ? has-error">
					<label for="password" class="control-label">Senha</label>
					<input id="password" type="password" class="form-control" th:field="*{password}"/>
				</div>
				
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('re-password')} ? has-error">
					<label for="re-password" class="control-label">Repete senha</label>
					<input id="re-password" type="password" class="form-control" th:field="*{re-password}"/>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 form-group aw-table-checkbox" th:classappend="${#fields.hasErrors('isActive')} ? has-error">
					<label for="isActive" class="control-label">Ativo?</label>
					<input id="isActive" type="checkbox"  class="form-control" th:checked="*{isActive}"/>
				</div>
				<div class="col-sm-6  form-group" th:classappend="${#fields.hasErrors('latestUpdate')} ? has-error">
					<label for="latestUpdate" class="control-label">Última atualização</label>
					<input id="latestUpdate" type="datetime" class="form-control" th:field="*{latestUpdate}"/>
				</div>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('photo')} ? has-error">
				<label for="photo" class="control-label">Foto do perfil</label>
				<input id="photo" type="file" class="form-control" th:field="*{photo}"/>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('role')} ? has-error">
				<label for="role" class="control-label">Role</label>
				<select id="role" class="form-control" th:field="*{role}">
					<option value="">Selecione a role</option>
					<option th:each="role : ${roles}" th:value="${role}" th:text="${role.description}"></option>
				</select>
			</div>
				
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>