<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>
	<title>RoadieStudio</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Lista de usuários
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/user/new}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo usuário</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
	<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}" >
		<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
		<span th:text="${message}"></span>
	</div>

		<div class="row  aw-datatable-toolbar">
			<div class="col-xs-8">

				<div class="btn-group">
				  <button type="button" class="btn  btn-default  btn-sm  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				    <i class="fa  fa-arrow-circle-down  visible-md-inline  visible-lg-inline"></i> <span>Exportar</span>
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Para arquivo Excel</a></li>
				  </ul>
				</div>
			</div>
			
		</div>
		
		<div class="table-responsive">
			<table id="user-table" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>						
						<th>Cód</th>
						<th>Nome</th>
						<th>Sobrenome</th>
						<th>Nome usuário</th>
						<th>E-mail</th>
						<th>Última atualização</th>						
						<th class="table-pesq-produto-col-acoes">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="allUsers : ${allUsers}"> 						
						<td th:text="${allUsers.codUser}"></td>
						<td th:text="${allUsers.firstName}"></td>
						<td th:text="${allUsers.lastName}"></td>
						<td th:text="${allUsers.username}"></td>
						<td th:text="${allUsers.email}"></td>
						<td th:text="${#dates.format(allUsers.latestUpdate, 'dd/MM/yyyy HH:mm')}"></td>								
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar"
								th:href="@{/user/edit/{codUser}(codUser=${allUsers.codUser})}">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir"
								th:href="@{/user/delete/} + ${allUsers.codUser}" 
								onclick="return confirm('Deseja realmente deletar o usuário?');">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${allUsers.empty}">
						<td colspan="9">Nenhum registro encontrado</td>
					</tr>
					
				</tbody>
			</table>
		</div>

	</div>

</section>
</body>
</html>