<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>
	<title>RoadieStudio</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Lista de agendamentos
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/calendar/new}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo agendamento</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}" >
			<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
			<span th:text="${message}"></span>
		</div>
		
		<button id="openModal" type="button" hidden="hidden" data-toggle="modal" data-target="#myModal">Launch modal</button>
		
		<div class="table-responsive">
			<div id="calendar"></div>
		</div>
		
		
		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Agendamento</h4>
		      </div>
		      <div class="modal-body">
		        
		         <div class="row">
					<div class="col-sm-6 form-group">
						<label for="id" class="control-label">Código</label>
						<input id="id" type="text" class="form-control" disabled="disabled"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="type" class="control-label">Tipo</label>
						<input id="type" type="text" class="form-control" />
					</div>
				</div>
		        
		        <div class="row">
					<div class="col-sm-6 form-group">
						<label for="description" class="control-label">Descrição</label>
						<input id="description" type="text" class="form-control" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="dtStart" class="control-label">Horário Início</label>
						<input id="dtStart" type="text" class="form-control" />
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-6 form-group">
						<label for="dtEnd" class="control-label">Horário Término</label>
						<input id="dtEnd" type="text" class="form-control" />
					</div>
				</div>
		        	
		       	<button id="submitModal" type="button" class="btn btn-primary">Alterar Evento</button>	        
		      </div>
		      <div class="modal-footer">
		        <button id="closeModal" type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		       
		        <button id="removeModal" type="button" class="btn btn-danger">Remover Evento</button>
		      </div>
		    </div>
		  </div>
		</div>
		
		
		
		
	</div>

</section>
</body>
</html>