<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/DefaultLayout">
	
<head>
	<title>RoadieStudio</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Home
					</h1>
				</div>
			
				<!-- <div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/home/new}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Nova Sala</span>
						</a>
					</div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="container-fluid">
	<div class="alert  alert-success  alert-dismissible" role="alert" th:if="${not #strings.isEmpty(message)}" >
		<button type="button" class="close" data-dismiss="alert" ><span aria-hidden="true">&times;</span></button>
		<span th:text="${message}"></span>
	</div>
	<div class="table-responsive">

	<span onload="dataFormatada(1382086394000);"></span>

		<table id="user-table" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
			<thead class="aw-table-header-solid">
				<tr>
					<th>Sala</th>
					<!-- <th>Sala Livre?</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="allRooms : ${allRooms}"> 
					<td th:text="${allRooms.name}"></td>
					<!-- <td th:text="${allRooms.status}"></td> -->
				</tr>
				<tr th:if="${allRooms.empty}">
					<td colspan="9">Nenhum registro encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>

	</div>

</section>
</body>
<script type="text/javascript">
function dataFormatada(d) {
    var data = new Date(d),
        dia = data.getDate(),
        mes = data.getMonth() + 1,
        ano = data.getFullYear(),
        hora = data.getHours(),
        minutos = data.getMinutes(),
        segundos = data.getSeconds();

    return [dia, mes, ano].join('/') + ' ' + [hora, minutos, segundos].join(':');
}
</script>
</html>